body, html {
    font-size: 14px;
    font-family:'PT sans', sans-serif, 'Noto sans', sans-serif,  'Arial', sans-serif;
}
body {
    max-width: 1200px;
    margin: auto;
}
/*.navbar-brand-img {
   width:185 px;
   height:75px;
}*/

.site-branding {
    display: flex;
    justify-content: center;
}

.menu {
    display: flex;
    justify-content: center;

}

.img-text {
text-align: center;
}
.single-nav ul {
    list-style: none;
    padding:0;
}

h5 {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    padding: 10px;
    font-weight: bold;
    font-style: italic;
margin-top: 0;
text-align: center;
margin-bottom: 0;

}

.aboutus {
    list-style: none;
    padding:10px;
     background-color: #fff;
}

.img-responsive, .biography {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.column-quote {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.column-leaders, .biography {
border: 10px solid #FFF;
}
.column-panels {
border: 10px solid rgb(210,228,243);
background-color:rgb(210,228,243);
}

h4{
    padding: 10px;
    text-align: center;
}
.top {
    display: none;
}
.panel {
    display: flex;
    flex-wrap:wrap;
    padding: 10px;
    background-color: #FFF;
}

.dotstyle ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding:0;
    justify-content: center;
    background-color: #FFF;
    margin:0;
}
.dotstyle {
background-color: #FFF;
}

.karjera-img {
padding: 100px;
flex: 1;
/* width: 100%;
  height: auto;
display: flex;
flex-wrap: wrap;

background-size: contain;*/
}

.karjera-text {
padding: 100px;
display: flex;
flex-wrap: wrap;
flex: 1;
}
.footer {
    display: flex;
    justify-content: center;
    color: #FFF;
    background-color: #00224B;
    font-size: 12px;
    padding: 5px;
    text-align:center;
}
.single-nav {
width: 100%
}
 .single-nav ul {
width: 60%;
justify-content: center;
justify-content: space-between;
}

.single-nav ul li {
display: flex;
justify-content: center;
line-height: 2;
}
.menu {
background-color: #00224B;
}
.menu ul li a {
color: #FFF;
text-decoration: none;
}
.column-aboutus {
border: 10px solid rgb(210,228,243);
 background-color: rgb(210,228,243);
}
#myBtn {
    position: fixed;
    right: 13px;
    bottom: 70px;
    background-color: #FFF;
    color: rgb(84, 141, 212);
    opacity: 0.9;
    box-shadow: 1px 5px 5px rgb(84, 141, 212);
    outline: none;
    border: none;
    font-size: 12px;
}

@media screen and (min-width:800px) {
.dotstyle {
display: none;
}
/*.wrap {
display: flex;
flex-wrap: wrap;
flex-direction: row;
}
.panel {
display: flex;
flex-wrap: wrap;
flex-direction: row;
}*/
}

@media screen and (min-width:650px) {
   /* .column-quote {
        justify-content: flex-start;
    }*/
.navbar-brand-img {
   width:185px;
   height:75px;
}
.my-btn {
    display: none;
}
.wrap {
display: flex;
flex-wrap: wrap;
flex-direction: row;

}

}


@media screen and (min-width:500px) {
    .column-leaders {
        display: flex;
        flex-direction: row;
    }
    h5 {
        align-items: center;
    }
    .menu ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: row;
    }

}





.dotstyle ul {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    cursor: default;
    margin-bottom: 20px;
}
.dotstyle li {
    position: relative;
    display: block;
    float: left;
    margin: 0 16px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}
.dotstyle li a {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: none;
    border-radius: 50%;
    text-indent: -999em;
    cursor: pointer; /* make the text accessible to screen readers */
    position: absolute;
}
/* Fill up */
.dotstyle-fillup li a {
    overflow: hidden;
    background-color: #fff;
    box-shadow: inset 0 0 0 2px rgba(255,255,255,1);
    transition: background 0.3s;
}
.dotstyle-fillup li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 1px #fff;
    transition: height 0.3s;
}
.dotstyle-fillup li a:hover,
.dotstyle-fillup li a:focus {
	  background-color: rgb(84, 141, 212);
}
.dotstyle-fillup li.current a::after {
	  height: 100%;
}
.dotstyle {
    text-align: center;
}
